* {
    box-sizing: border-box;
}

body {
    background-color: rgb(249, 242, 197);
}

.container {
    margin: auto;
    max-width: 600px;
    padding: 0 10px;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}

header button {
    width: 50px;
    height: 50px;
    font-size: 40px;
    border: none;
    border-radius: 50%;
    background-color: skyblue;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    word-break: normal;
}

.card {
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 10px;
    margin-top: 15px;
}

.item div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

li button {
    border-radius: 4px;
    margin-top: .5rem;
}

li img {
    width: 1rem;
}

.done {
    text-decoration: line-through;
}

.modal {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}